.login-form-container {
  margin-top: 35px;
  padding: 0px !important;
  max-width: 400px !important;
}

.form-labels {
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 5px !important;
}

.sign-in-btn {
  background-color: #007aff !important;
  padding: 20px;
  height: 60px !important;
  margin-top: 40px;
}

.submit-btn-text {
  font-size: 18px;
  color: white;
  font-weight: 700;
}
.eye-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.error-occurred {
  position: absolute;
  top: 38%;
  right: 10px;
  transform: translateY(-50%);
}
.forgot-text {
  font-size: 16px;
  color: #007aff;
  font-weight: 500;
  text-decoration: none;
}
.custom-input {
  background-color: #e7e7e7 !important;
  height: 60px !important;
  border-radius: 8px;
  padding: 8px 12px;
}
.password-field-input {
  position: relative;
}
.sign-in-btn-invalid-btn {
  background-color: #d7d7d7 !important;
  padding: 20px;
  height: 60px !important;
  margin-top: 40px;
  border: none !important;
}
.register-container {
  text-align: center;
}

.register-text {
  font-weight: 400;
}

.eye-icon {
  color: gray;
}
.custom-input:focus {
  box-shadow: none !important;
  border: none !important;
}
.is-invalid {
  background-image: none !important;
}
