.auth-container {
  margin: 20px;
}

.heading-text {
  font-size: 40px;
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  color: #2e2a40;
}

.description-text {
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  color: #2e2a40 !important;
}

.auth-row {
  height: 95vh;
}

.left-column {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-column-view {
  max-width: 400px !important;
}

.right-column {
  border-radius: 15px;
  background-color: #288fff;
}
.right-info-view {
  height: 100%;
}
